<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/style.css"/>
</head>
<body>
<!--меню-->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark mt-60">
    <a class="navbar-brand" href="/">RedApple Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Головна</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ShopCart/">Корзина</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Home/GetCv">Скачати резюме</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-danger" href="http://romadmn.github.io/">Мій сайт резюме</a>
            </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Пошук">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Пошук</button>
        </form>
    </div>
</nav>
<!--Main content-->
<div class="shop container body-content">
    @RenderBody()
    <hr />
</div>
<footer class="footer mt-auto py-3">
    <div class="container">
        <span class="text-muted">RedApple - магазин техніки Apple!</span>
    </div>
</footer>
</body>
</html>