<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/mdb.min.css" rel="stylesheet">
    <link href="~/css/style.min.css" rel="stylesheet">
    <link href="~/css/Style.css" rel="stylesheet">

</head>
<body>
    <!-- Меню -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
        <div class="container">

            <!-- Brand -->
            <a class="navbar-brand waves-effect" asp-controller="Home" asp-action="Index">
                <strong class="red-text">RedApple</strong>
            </a>

            <!-- Collapse -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <!-- Ліва частина меню -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link waves-effect" asp-controller="Home" asp-action="Index">
                            Головна
                            <span class="sr-only"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect" href="/Home/Products/">Всі товари</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle waves-effect" href="/Home/Products/" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Вибрати категорію товарів</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item waves-effect" href="/Home/Products/Phone/">Телефони</a>
                            <a class="dropdown-item waves-effect" href="/Home/Products/HeadPhone/">Навушніки</a>
                            <a class="dropdown-item waves-effect" href="/Home/Products/Watch/">Годинники</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-danger waves-effect" href="/Home/GetCv/">Скачати резюме</a>
                    </li>
                </ul>

                <!-- Права частина меню -->
                <ul class="navbar-nav nav-flex-icons">
                    <li class="nav-item">
                        <a class="nav-link waves-effect" asp-controller="ShopCart" asp-action="Index">
                            <i class="fas fa-shopping-cart"></i>
                            <span class="clearfix d-none d-sm-inline-block"> Корзина </span>
                        </a>
                    </li>
                    <li class="nav-item">

                        <a href="https://linkedin.com/in/romadmn/" class="nav-link waves-effect" target="_blank">
                            <i class="fab fa-linkedin mr-3"></i>
                        </a>

                    </li>
                    <li class="nav-item">
                        <a href="https://github.com/romadmn/" class="nav-link waves-effect" target="_blank">
                            <i class="fab fa-github mr-3"></i>
                        </a>
                    </li>
                </ul>

            </div>

        </div>
    </nav>
    <!-- Меню -->
    <!--Main content-->
    <main>
        <div class="shop container body-content">
            <section class="text-center mb-4">
                @RenderBody()
            </section>
        </div>
    </main>
    <!--Footer-->
    <footer class="page-footer fixed-bottom text-center font-small mt-4 wow fadeIn">
        <!-- Social icons -->
        <div class="pb-4 mt-3">
            <a href="https://fb.com/romadmn" target="_blank">
                <i class="fab fa-facebook-f mr-3"></i>
            </a>

            <a href="https://linkedin.com/in/romadmn/" target="_blank">
                <i class="fab fa-linkedin mr-3"></i>
            </a>

            <a href="https://github.com/romadmn/" target="_blank">
                <i class="fab fa-github mr-3"></i>
            </a>
            <a href="https://t.me/romadmn/" target="_blank">
                <i class="fab fa-telegram mr-3"></i>
            </a>

            <a href="http://instagram.com/roma.dmn" target="_blank">
                <i class="fab fa-instagram mr-3"></i>
            </a>
        </div>
        <!-- Social icons -->
        <!--Copyright-->
        <div class="footer-copyright py-3">
            © 2019 Copyright:
            <a href="https://romanferents.me/" target="_blank"> Roman Ferents </a>
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="~/js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="~/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="~/js/mdb.min.js"></script>
    <!-- Initializations -->
    <script type="text/javascript">
        // Ініціалізація анімації
        new WOW().init();

    </script>
</body>
</html>