@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Оформлення замовлення</title>
</head>
<body>
<div>
    <h3>Форма оформлення</h3>
    <p>Для оформлення заповніть наступні поля:</p>
    <form method="post">
        <input type="hidden" value="@ViewBag.PhoneId" name="PhoneId" />
        <table>
            <tr>
                <td>Імя:</td>
                <td><input type="text" name="User" /> </td>
            </tr>
            <tr>
                <td>Адрес:</td>
                <td><input type="text" name="Address" /></td>
            </tr>
            <tr>
                <td>Телефон:</td>
                <td><input type="text" name="ContactPhone" /></td>
            </tr>
            <tr><td><input type="submit" value="Відправити" /> </td><td></td></tr>
        </table>
    </form>
</div>
</body>
</html>