@{
    ViewData["Title"] = "Каталог товарів";
}
<h3 class="products">Продукція</h3>
<div class="container mt-6">
    <div class="row">
        @foreach (var phone in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="@phone.Img">
                    <div class="card-body">
                        <p class="card-text">@phone.Name</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <a class="btn btn-primary" href="~/Home/Buy/@phone.Id">Купити</a>
                            <small><b>Ціна: </b>@phone.Price</small>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
