@{
    ViewData["Title"] = "Каталог товарів";
}
<h3>Смартфони</h3>
<table class="table table-hover">
    <tr>
        <td>Модель</td>
        <td>Опис</td>
        <td>Ціна</td>
        <td></td>
    @foreach (var phone in Model)
    {
        <tr>
            <td>@phone.Name</td>
            <td>@phone.ShortDesk</td>
            <td>@phone.Price</td>
            <td><a href="~/Home/Buy/@phone.Id">Купити</a></td>
        </tr>
    }
</table>